@import "variables";
@import "index";


@font-face {
  font-family: "MORGANITE";
  src: url("../assets/fonts/Morganite-Thin.ttf");
}


.name {
  h1 {

    margin-left: -0.08em;
    font-family: MORGANITE;
    font-size: 18em;
    line-height: 0.71em;
    z-index: 2;
    margin-top: 0.1em;

    @media (min-width: 768px) {
      font-size: 15em;
    }
    @media (min-width: 992px) {
      font-size: 16.5em;
      margin-left: -0.04em;
    }
  }
}



.header{
  padding-top: 10em;
  height: 100%;
  position: relative;
  padding-bottom: 5em;
  background-color: transparent;


}


.description{
  p{
    margin-top: 0em;
    margin-bottom: 2em;
    margin-right: -0.5em;
    font-size: 4em;
    z-index: 2;
    color: white;
    @media (min-width: 768px) {
      font-size: 2.5em;
      margin-right: -0.3em;
    }
    @media (min-width: 992px) {
      font-size: 3.5em;
      margin-right: 0.3em;
    }
  }

}

.emptySpace{
  margin-top: 5em;
  height: 15em;
  opacity: 0;
  z-index: -9;
}
.myblockno1{
  position: absolute;
  z-index: 0;
  height: 19%;
  width: 100%;
  top: 7em;
  left: 0%;
  opacity: 0;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);

  }
}

.myblockno2{
  content: '';
  position: absolute;
  z-index: 0;
  height: 22%;
  width: 50%;
  top: 12em;
  left: 30em;
  opacity: 0;
}
